* {
  padding: 0;
  margin: 0;
}

.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

.container-topic {
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.container-box {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #6b6b6b;
  line-height: 1.5;
}

body header {
  background-color: #2c3e50;
  color: #ffffff;
  padding-top: 20px;
  min-height: 50px;
  border-bottom: #253342 1px solid;
}

body header #logo {
  float: left;
}

body header #logo h2 {
  margin: 0;
  font-size: 20px;
}

body header nav {
  float: right;
  padding-top: 5px;
}

body header nav ul li {
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
}

body header nav ul li a {
  color: #7e95ae;
  text-decoration: none;
  font-size: 13px;
}

body header nav ul li a:hover {
  color: #fffa;
}

body #start {
  background-color: #2c3e50;
  color: #ffffff;
  text-align: center;
}

body #start h2 {
  margin: 30px 0 30px 0;
  font-size: 30px;
}

body #start h3 {
  margin: 20px 0 20px 0;
  font-size: 20px;
}

body #start img {
  margin: 20px 0 20px 0;
  width: 500px;
}

body #about {
  background-color: #ffffff;
  color: #6b6b6b;
  text-align: center;
}

body #about h2 {
  margin: 30px 0 30px 0;
  font-size: 30px;
}

body #about p {
  margin: 20px 0 20px 0;
}

body #about img {
  margin: 20px 0 20px 0;
  width: 400px;
}

body #team {
  background-color: #eeeeee;
  color: #6b6b6b;
  text-align: center;
}

body #team h2 {
  margin: 30px 0 30px 0;
  font-size: 30px;
}

body #team .box {
  float: left;
  width: 186px;
  margin: 30px 25px;
}

body #team .box img {
  width: 100%;
}

body #team .box .nome {
  font-size: 18px;
}

body #team .box button {
  margin: 10px;
  border-radius: 2px;
  background-color: #2c3e50;
  border: 0;
  cursor: pointer;
}

body #portifolio {
  background-color: #ffffff;
  color: #6b6b6b;
  text-align: center;
}

body #portifolio h2 {
  margin: 30px 0 30px 0;
  font-size: 30px;
}

body #portifolio p {
  margin: 20px 0 20px 0;
}

body #portifolio #group-buttons {
  clear: left;
}

body #portifolio #group-buttons button {
  margin: 5px;
  padding: 5px 20px;
  border-radius: 2px;
  background-color: #ffffff;
  color: #a1a1a1;
  border: 1px solid #a1a1a1;
  cursor: pointer;
}

body #portifolio .box {
  float: left;
  width: 274px;
  margin: 20px 20px;
}

body #portifolio .box figure {
  position: relative;
  width: 100%;
}

body #portifolio .box figure img {
  width: 100%;
}

body #portifolio .box figure figcaption {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 7px;
  text-align: left;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #portifolio .box figure figcaption .nome {
  font-size: 18px;
}

body #contact {
  background-color: #eeeeee;
  color: #6b6b6b;
  text-align: center;
}

body #contact h2 {
  margin: 30px 0 30px 0;
  font-size: 30px;
}

body #contact p {
  margin: 20px 0 20px 0;
}

body #contact form {
  margin-top: 10px;
}

body #contact form input {
  width: 500px;
  padding: 5px 5px;
  margin-bottom: 10px;
  border: 1px solid #6b6b6b;
  border-radius: 3px;
}

body #contact form textarea {
  width: 500px;
  height: 100px;
  padding: 5px 5px;
  border: 1px solid #6b6b6b;
  border-radius: 3px;
}

body #contact button {
  margin: 50px;
  padding: 10px 40px;
  border-radius: 2px;
  background-color: #2c3e50;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}

body #contact button .nome {
  font-size: 18px;
}

body footer ul {
  text-align: center;
  margin: 20px 20px;
}

body footer ul li {
  display: inline;
  padding: 0 15px 0 15px;
}

body footer ul li a {
  color: #6b6b6b;
  text-decoration: none;
  font-size: 13px;
}
/*# sourceMappingURL=style.css.map */