//paleta de cores do site
$cor-principal: #2c3e50;
$cor-secundaria: #eeeeee;
$cor-base: #ffffff;
$cor-borda:  #253342;
$cor-menus-nav: #7e95ae;
$cor-fonte: #6b6b6b;
$cor-botoes-grupo: #a1a1a1;

// tamanho de fonte principais
$tamanho-fonte-logo: 20px;
$tamanho-fonte-nav: 13px;
$tamanho-fonte-geral: 12px;
$tamanho-fonte-nome: 18px;
$tamanho-fonte-tituto: 30px;
$tamanho-fonte-subtitulo: 20px;

//espaçamentos margin em baixo e em cima
$margem-titulo: 30px 0 30px 0;
$margem-subtitulo: 20px 0 20px 0;
$margem-paragrafo: 20px 0 20px 0;
$margem-imagem: 20px 0 20px 0;
$margem-box : 30px 0 30px 0;

// Global
* {
    // ajuste eliminar valores default
    padding: 0;
    margin: 0;
}

.container {
    width: 70%; // espaçãmento só de um lado (cobrindo *80% da pagian)
    margin: auto; // espaçamento vai para os dois lado CENTRALIZANDO o conteudo
    overflow: hidden; // nao colocar scroll quando algo sair da div   
}

.container-topic { // container do começo de cada seçao
    width: 50%;
    margin: auto; 
    overflow: hidden;
}

.active {
    color: $cor-base;
}

//.active2 {
//}

//---------------

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: $tamanho-fonte-geral;
    color: $cor-fonte;
    line-height: 1.5; //espaço entre linhas

    header {
        background-color: $cor-principal;
        color: $cor-base;
        padding-top: 20px;
        min-height: 50px; // ajuste com espaço menor
        border-bottom: $cor-borda 1px solid;
        
        //barra navegação fixa no topo
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1; //manter por cima dos elementos

        #logo {
            float: left;

            h2 {
                margin: 0;
                font-size: $tamanho-fonte-logo;
            }
        }

        nav {
            float: right;
            padding-top: 5px;

            ul {
                li {
                   // float: left;
                    display: inline;
                    padding: 0 15px 0 15px; //distanciamento entre menus

                    a {
                        color: $cor-menus-nav;
                        text-decoration: none;
                        font-size: $tamanho-fonte-nav;
                    }

                    a:hover {
                        color: #fffa;
                    }
                }
            }
        }
    }

    #start {
        margin-top: 70px; // para barra de navegação nao sobrepor
        //min-height: 400px;
        background-color: $cor-principal;
        color: $cor-base;
        text-align: center;

        h2 {
            margin: $margem-titulo;
            font-size: $tamanho-fonte-tituto;
        }

        h3 {
            margin: $margem-subtitulo;
            font-size: $tamanho-fonte-subtitulo; 
        }

        img {
            margin: $margem-imagem;
            width: 500px;
        }
    }

    #about {
        background-color: $cor-base;
        color: $cor-fonte;
        text-align: center;

        h2 {
            margin: $margem-titulo;
            font-size: $tamanho-fonte-tituto;
        }

        p {
            margin: $margem-paragrafo;
        }

        img {
            margin: $margem-imagem;
            width: 400px;
        }
    }

    #team {
        background-color: $cor-secundaria;
        color: $cor-fonte;
        text-align: center;

        h2 {
            margin: $margem-titulo;
            font-size: $tamanho-fonte-tituto;
        }

        .box {
            float: left;
            width: 186px;
            margin: 30px 25px; //emcima e embaixo / esuerda e direita
            
            img {
                width: 100%;
            }

            .nome {
                font-size: $tamanho-fonte-nome;
            }

            button {
                margin: 10px;
                padding: 8px 15px;
                border-radius: 2px;
                background-color: $cor-principal;
                color: $cor-base;
                border: 0;
                cursor: pointer;
            }
            button:hover {
                background-color: $cor-borda;
            }            
        }
    }

    #portifolio {
        background-color: $cor-base;
        color: $cor-fonte;
        text-align: center;

        h2 {
            margin: $margem-titulo;
            font-size: $tamanho-fonte-tituto;
        }

        p {
            margin: $margem-paragrafo;
        }

        #group-buttons {
            clear: left;

            button {
                margin: 5px;
                padding: 5px 20px;
                border-radius: 2px;
                background-color: $cor-base;
                color: $cor-botoes-grupo;
                border: 1px solid $cor-botoes-grupo;
                cursor: pointer;

                
            }    
            button:hover {
                border-color: $cor-principal;
                color: $cor-principal;
            }

            button .active2 {
                color: $cor-principal;
                border-color: $cor-principal;
            }
        }
          
        .box {
            float: left;
            width: 274px;
            margin: 20px 20px;

            figure {
                position: relative;
                width: 100%;  
                
                img {
                    width: 100%;
                }
    
                figcaption {
                    
                    width: 100%;            
                    height: 30%;

                    position: absolute;
                    bottom: 5px;
                    background-color: rgba(0, 0, 0, .3);
                    color: white;
                    padding: 7px;
                    text-align: left;
                    font-size: $tamanho-fonte-geral;
                    box-sizing: border-box;

                    .nome {
                        font-size: $tamanho-fonte-nome;
                    }
                }
            }
        }
    }

    #contact {
        background-color: $cor-secundaria;
        color: $cor-fonte;
        text-align: center;

        h2 {
            margin: $margem-titulo;
            font-size: $tamanho-fonte-tituto;
        }

        p {
            margin: $margem-paragrafo;
        }

        form {
            margin-top: 10px;

            input {
                width: 500px;
                padding: 5px 5px;
                margin-bottom: 10px;
                border: 1px solid $cor-fonte;
                border-radius: 3px;
            }
            textarea {
                width: 500px;
                height: 100px;
                padding: 5px 5px;
                border: 1px solid $cor-fonte;
                border-radius: 3px;
            }
        }

        button {
            .nome {
                font-size: $tamanho-fonte-nome;
            }

            margin: 50px;
            padding: 10px 40px;
            border-radius: 2px;
            background-color: $cor-principal;
            color: $cor-base;
            border: 0;
            cursor: pointer;
        }
        button:hover {
            background-color: $cor-borda;
        }
    }

    footer {
        ul {
            text-align: center;
            margin: 20px 20px;

            li {
                display: inline;
                padding: 0 15px 0 15px; //distanciamento entre menus

                a {
                    color: $cor-fonte;
                    text-decoration: none;
                    font-size: $tamanho-fonte-nav;
                }
            }
        }
    }    
}

