$small-device: 480px;
$medium-device: 760px;
$large-device: 1200px;

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@mixin menu-item {
    list-style: none;
    font-size: em(15);
    margin-right: 40px;
    cursor: pointer;
    a {
        color: #7e95ae;
        text-decoration: none;
        &.cabecalho__nav-bar__menu--active {
            color: $white;
        };
        &:hover {
            color: $white;
        };
    };
    &:last-child {
        margin-right: 0;
    };
    &:first-letter {
        text-transform: uppercase;
    }
}

@mixin title($color: $grey, $size: 45, $margin-bottom: 35px) {
    color: $color;
    font-size: em($size);
    font-weight: lighter;
    margin-bottom: $margin-bottom;
    text-align: center;
}

@mixin button($type: normal) {
    background-color: $primary;
    color: $white;
    @if $type == icon {
        padding: 5px 26px;
    }
    @if $type == normal {
        padding: 0 50px;
    }
    &:hover {
        background-color: lighten($primary, 10%);
    }
}

@mixin device($device) {
    @if $device == large {
        @media screen and (min-width: $large-device) {
            @content;
        }
    }
    @if $device == medium {
        @media screen and (min-width: $medium-device) and (max-width: $large-device - 1) {
            @content;
        }
    }
    @if $device == small {
        @media screen and (max-width: $medium-device - 1) {
            @content;
        }
    }
}

@mixin image-size($width, $height) {
    width: $width;
    height: $height;
}