$browser-context: 16;

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@mixin menu-item {
    list-style: none;
    font-size: em(15);
    margin-right: 40px;
    cursor: pointer;
    a {
        color: #7e95ae;
        text-decoration: none;
        &.cabecalho__nav-bar__menu--active {
            color: $white;
        };
        &:hover {
            color: $white;
        };
    };
    &:last-child {
        margin-right: 0;
    };
    &:first-letter {
        text-transform: uppercase;
    }
}

@mixin title($color: $grey, $size: 45) {
    color: $color;
    font-size: em($size);
    font-weight: lighter;
    margin-bottom: 35px;
    text-align: center;
}