@import "reset";
@import "normalize";
@import "variables";
@import "mixins";
@import "skeleton";
@import "slicknav";
@import "origamid-menu";

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 74px;
    background-color: $primary;
    border-bottom: solid 1px #253342;
    display: flex;
    align-items: center;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cabecalho__logo {
            color: $white;
            font-size: em(30);
            font-weight: bold;
            text-transform: uppercase;
            a {
                color: $white;
                text-decoration: none;
            }
        };
        .cabecalho__nav-bar {
            width: 100%;
            ul {
                height: 100%;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                margin-bottom: 0;
                margin-top: 10px;
                align-items: center;
                li {
                    @include menu-item;
                }
            }
        }
    }
}

main {
    margin-top: 74px;
}

.banner {
    background-color: $primary;
    .title {
        @include title($white);
    };
    .sub-title {
        @include title($white, 25);
    }
    .banner__image {
        @include device(medium) {
            @include image-size(650px, 350px);
        }
        @include device(small) {
            @include image-size(350px, 200px);
        } 
    }
}

section {
    padding: 56px 0 66px 0;
    text-align: center;
    .row {
        text-align: center;
    };
    &.our-team {
        background-color: $secondary-grey;
    };
    &.about-us {
        .about-us__image {
            @include device(medium) {
                @include image-size(350px, 250px);
            }
            @include device(small) {
                @include image-size(320px, 220px);
            } 
        }
    }
    &.contact {
        background-color: $secondary-grey;
    };
}

.title {
    @include title(); 
}

.text {
    font-size: 15px;
    font-weight: lighter;
    line-height: 21px;
    color: $grey;
    max-width: 800px;
    margin: 35px auto;
    text-align: center;
    &.text--grey {
        color: #a5a5a5;
    }
}

.team-card {
    margin-top: 60px;
    .team-card__image {
        img {
            @include device(medium) {
                @include image-size(140px, 140px);
            }
            @include device(small) {
                @include image-size(140px, 140px); 
            }
        }
    }
    .team-card__title {
        font-size: em(25);
        color: $grey;
        margin-bottom: 20px;
    };
    .team-card__text {
        color: $grey;
    };
    .team-card__button {
        margin-top: 31px;
        @include button(icon);
    };
}

.button-list {
    display: flex;
    justify-content: center;
    list-style: none;
    .button-list__button--inverted {
        color: #ccc;
        border: #ccc 1px solid;
        border-radius: 5px;
        padding: 13px 25px;
        margin-right: 11px;
        cursor: pointer;
        @include device(small) {
            padding: 10px 20px;
            font-size: em(10);
        }
        &:hover {
            color: $primary;
            border-color: $primary;
        }
    }
    .button-list__button--active {
        border: 1px solid $primary;
        color: $primary;
    }
}

.portfolio {
    height: 345px;
    margin: 28px 22px;
    .portfolio__image {
        height: 237px;
        width: 100%;
        background-color: $secondary-grey;
    }
    .portfolio__info {
        background-color: #9a9a9a;
        padding: 10px;
        .portfolio__info__title {
            @include title($white, 25, 17px);
            text-align: left;
            letter-spacing: 2px;
        }
    }
    .portfolio__info__text {
        text-align: left;
        color: $white;
        font-size: em(15);
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form__field {
        width: 50%;
        min-width: 420px;
        display: block;
        &.form__field--textarea {
            height: 140px;
        };
        &:focus {
            border: $primary 1px solid;
        };
    };
    .form__button {
        @include button;
    }
}

.footer {
    padding: 56px 0 45px 0;
    .footer__menu {
        display: flex;
        justify-content: center;
        list-style: none;
        .footer__menu__item {
            padding: 20px 0;
            &::before {
                content: ':';
                margin: 0 22px;
                color: $grey;
            }
            &:first-child::before {
                content: '';
            }
            &:last-child {
                margin-right: 40px;
            }
            a {
                color: $grey;
                cursor: pointer;
                text-decoration: none;
                &:hover {
                    color: $primary
                }
            }
        }
    }
}

.header-bar { 
    .cabecalho__nav-bar ul {
        height: 230px !important;
    }
}